@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  @apply bg-[#000021]
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #161c4A;
  border-radius: 10px;
}

.menu-btn {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
  /* color: #fff; */
  display: block;
  margin: 0 1rem;
  cursor: pointer;
  outline: none;
  transition-property: opacity;
  transition-duration: 0.3s;
}


/* c6c6c6 */

.menu-btn::after {
  content: "";
  display: block;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  margin-top: 0.5rem;
  width: 0;
  transition: width 0.4s ease-out;
}

.menu-btn:hover::after {
  width: 100%;
}

.menu-btn:hover {
  opacity: 0.8;
}